.hidden {
	display: none;
}

.shown {
	display: inline-block;
}

.jumbotron {
	background-image: url("../resources/books.png");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 304px;
	overflow: hidden;
}

.error {
	background-color: #bb1d24;
	color: white;
}

.data-book{
	color:rgba(#3a3a45, 0.9);
}
.data-book-title{
	font-size: 1.3em;

}
.data-book-author{
	font-size: .9em;
	text-decoration: underline;
}

.input-group {
	float: left;
}
.add-book-btn-group{
	margin-top: 5px;
}

.arrows {
	font-size: 2em;
	/* letter-spacing: 20px; */
}
.arrow-disable {
	color: transparent;
}
